* {
  font-family: 'Prompt', sans-serif;
}

a {
  font-size: 15px;
  border: 10px;
  
  color:black;
}
h1{
  font-size: 37px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  text-align: center;
}
body {
 background-color: #99ced3;
}
.flexbox-container {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 15px;
  border-right: 15px;
  color: #03123d;

}

.flexbox-item-Darius{
  min-height: 100px;
  padding: 15px;
  background-color:#edb5bf;

}
.flexbox-item-Roger{
min-height: 100px;
padding: 15px;
background-color:#86b3d1;
}
.flexbox-item-Andrew{
min-height: 100px;
padding: 15px;
background-color:#edb5bf

}
h2 {
  font-size: 25px;
  color: #000000;
  font-weight: 300px;
}

.resources{
  display: flex;
  justify-content:center;
  position: relative;
  font-size: 20px;
}
.links{
  display: flex;
  position: relative;
}
img {
  background-image: ;
}