* {
  font-family: 'Prompt', sans-serif;
}

header {
  background-color: #5F6366;
  color: #EDB5BF;
  font-size: 64px;
  text-align: right;
}

header a {
  color: #EDB5BF;
  text-decoration: none;
}

body {
  background-color: #5f6366;
}
footer {
  position: fixed;
  bottom: 0;
}