* {
  font-family: 'Prompt', sans-serif;
}

header {
  background-color: #5F6366;
  color: #EDB5BF;
  font-size: 64px;
  font-family: 'Prompt', sans-serif;
  text-align: center;
  width: max-content;
  margin: auto;
  border: 5px solid #EDB5BF;
  padding: 20px;
}

header a {
  color: #EDB5BF;
  text-decoration: none;
}

header:hover{
  font-weight: bold;
}

body {
  background-color: #4D6D9A;
}

main{
  text-align: center;
  font-size: 3em;
}

main p{
  margin-top: 50px;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 1.5em;
}

table{
  margin: 50px auto;
}

th{
  background-color: #EDB5BF;
  border: 2px solid black;
  padding: 10px;
  font-family: 'Fuzzy Bubbles', cursive;
}

td{
  background-color: #EDB5BF;
  border: 2px solid black;
  padding: 10px;
  font-family: 'Fuzzy Bubbles', cursive;

}

footer {
  position: fixed;
  bottom: 0;
}